3s
Run set -euxo pipefail
+ pip install --no-deps tensorflowjs==4.8.0
Collecting tensorflowjs==4.8.0
  Downloading tensorflowjs-4.8.0-py3-none-any.whl.metadata (3.1 kB)
Downloading tensorflowjs-4.8.0-py3-none-any.whl (85 kB)
Installing collected packages: tensorflowjs
Successfully installed tensorflowjs-4.8.0
+ python -
2025-11-01 22:29:32.759372: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
  File "/opt/hostedtoolcache/Python/3.10.19/x64/lib/python3.10/site-packages/tensorflowjs/__init__.py", line 21, in <module>
    from tensorflowjs import converters
  File "/opt/hostedtoolcache/Python/3.10.19/x64/lib/python3.10/site-packages/tensorflowjs/converters/__init__.py", line 21, in <module>
    from tensorflowjs.converters.converter import convert
  File "/opt/hostedtoolcache/Python/3.10.19/x64/lib/python3.10/site-packages/tensorflowjs/converters/converter.py", line 37, in <module>
    from tensorflowjs.converters import tf_saved_model_conversion_v2
  File "/opt/hostedtoolcache/Python/3.10.19/x64/lib/python3.10/site-packages/tensorflowjs/converters/tf_saved_model_conversion_v2.py", line 28, in <module>
    import tensorflow_decision_forests
ModuleNotFoundError: No module named 'tensorflow_decision_forests'
Error: Process completed with exit code 1.
0s
0s
0s
0s
Post job cleanup.
/usr/bin/git version
git version 2.51.2
Temporarily overriding HOME='/home/runner/work/_temp/617bc9ff-3aba-42fe-a317-91bd0959f288' before making global git config changes
Adding repository directory to the temporary git global config as a safe directory
/usr/bin/git config --global --add safe.directory /home/runner/work/arch/arch
/usr/bin/git config --local --name-only --get-regexp core\.sshCommand
/usr/bin/git submodule foreach --recursive sh -c "git config --local --name-only --get-regexp 'core\.sshCommand' && git config --local --unset-all 'core.sshCommand' || :"
/usr/bin/git config --local --name-only --get-regexp http\.https\:\/\/github\.com\/\.extraheader
http.https://github.com/.extraheader
/usr/bin/git config --local --unset-all http.https://github.com/.extraheader
/usr/bin/git submodule foreach --recursive sh -c "git config --local --name-only --get-regexp 'http\.https\:\/\/github\.com\/\.extraheader' && git config --local --unset-all 'http.https://github.com/.extraheader' || :"
